<div class="card mb-3" style="max-width: 800px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../../assets/img/2.jpg"  class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Pieza Doble</h5>
        <p class="card-text">Pieza para 2 o 3 personas con un costo de $13.000 diarios</p>
        <p class="card-text"><small class="text-muted">Disponible</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 800px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../../assets/img/44.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Pieza Suit</h5>
        <p class="card-text">Pieza para 4 o 5 personas con un costo de $17.000 diarios</p>
        <p class="card-text"><small class="text-muted">Disponible</small></p>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer> 